<%= form_for(@inex) do |f| %>
  <% if @inex.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inex.errors.count, "error") %> prohibited this inex from being saved:</h2>

      <ul>
      <% @inex.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :category_id %><br>
    <%= f.select(:category_id, options_from_collection_for_select(@cat_list, 'id', 'name', @inex_cat.id))%>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
