<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @inex.category_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @inex.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @inex.cost %>
</p>

<p><%= link_to "Back", @kind_path %></p>