<!DOCTYPE html>
<html>
<head>
  <title>Mycash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div id="top_menu" class="row">
<% if user_signed_in? %>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <%= link_to 'Categories', categories_path %>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <%= link_to 'Incomes', inexes_path(kind: 'Incomes') %>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <%= link_to 'Expenses',inexes_path(kind: 'Expenses') %>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <%= link_to 'Report', reports_path %>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <span>Hello, <%= current_user.email %></span>
          <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
        </div>

<% else %>
    <%= link_to 'Log in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
  </div>

<%= yield %>
</div>
</body>
</html>
